aiogram==3.6.0
beautifulsoup4==4.8.2
flake8_plugin_utils==1.3.3
google-ai-generativelanguage==0.6.4
google-generativeai==0.5.4
mongoengine==0.28.2
natsort==8.4.0
protobuf>=3.19.5,<5.0.0
python-dotenv==1.0.1
setuptools==69.2.0
textract==1.6.5
